<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{file.frontMatter.title}}</title>
  <link href="ui/styles.css" rel="stylesheet" />
  <script src="//code.jquery.com/jquery-latest.js"></script>
<script src="//cdn.rawgit.com/noelboss/featherlight/1.7.14/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
  {% include "source/templates/header.html" %}

  {% block main %}Default content{% endblock %}
  </main>
</body>

</html>